body {
    background-image: radial-gradient(circle, rgb(31, 2, 75), rgb(2, 23, 81), #000);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-seize: 66px;
    
}

h3 {
    color: #ffe15c; 
    padding: 20px;
    font-size: 19px;
}